/* Shabnam Font Face */
@font-face {
  font-family: 'Shabnam';
  src: url('../fonts/shabnam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Shabnam Class */
.shabnam {
  font-family: "Shabnam";
}

/* My Custom Styles */
.summary-title{
  position: relative;
  margin: 10px 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.summary-summary{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  height: 4.5em;
  text-overflow: ellipsis;
}

.homepage-links{
  font-weight: bold;
  font-family: "Shabnam";
}

.homepage-links:hover{
  opacity: .6;
}

.next-session{
  height: 400px;
}

.section-poster{
  text-align: center;
}

.location{
  width: 400px;
  height: 400px;
}

.section-title{
  border-bottom: 5px solid #F39200;
  border-radius: 5px;
  /* display: inline; */
  width: max-content;
  font-family: "Shabnam";
}

.divider{
  display: none !important;
}

/* Font Awesome Brands */
.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

.column{
  max-width:100%;	
}

code {
  direction:ltr;
}  
