{{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<!-- Meta Description -->
<meta name="description" content="{{ .Description }}"> 

<!-- Meta Keywords -->
<meta name="keywords" content='{{ delimit .Keywords ", " }}' /> 

<!-- Opengraph -->
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
{{ template "_internal/opengraph.html" . }}

<!-- Twitter -->
{{ template "_internal/twitter_cards.html" . }}
